.container{
    background: rgb(237 237 237);
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 20px;
}
.form {
    
}
.containerTypePerson {
    display: flex;
    margin: 12px 0;
}
.containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    
}
.containerLogo {
    width: 75px;
    height: 75px;
    margin-right: 15px;

}
.imgLogo {
    width: 100%;
    display: flex;
    justify-content: center;

}
.title {
    font-size: 1.4em;
}
.containerItem {
    margin-bottom: 7px;
}
.containerGroup {
    padding-left: 15px;
}