.container {
    background-color: rgb(59, 15, 100);
    height: 40px;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(59, 15, 100) ;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}
.container:hover {
    opacity: 0.9;
}